@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Caudex&family=Cinzel&family=EB+Garamond&family=Epilogue:wght@400;800&family=Kaushan+Script&family=Nanum+Myeongjo&family=Open+Sans:wght@300&family=Outfit:wght@200&family=Paytone+One&family=Poppins:wght@100;300;700&family=Rajdhani:wght@300&family=Secular+One&family=Space+Grotesk&family=Teko:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}
button{
    cursor: pointer;
}

@media (min-width:300px){
    header{
        position: fixed;
        padding: 10px 20px;
        background-color:rgb(40,41,62);
        width: 100%;
        display: grid;
        grid-template-columns:1fr;
        align-items: center;
    } 

    .padder{
        padding: 10px 20px;
    }
    
    .logo-cont{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between ;
    }

    .logo-cont img{
        width:100px;
        height: 40px;
    }

    .hamburger{
        color: white;
       
    }

    .menu-container{
        position: absolute;
        display: none;
        padding: 10px 20px;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        background-color: rgba(40,41,62,0.8);
        backdrop-filter: blur(10px);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transition: all 200ms linear;
        z-index: 10;
    }
    
    .close-btn{
        color: white;
        align-self: flex-end;
        margin-top: 10px;
    }

    .logo-2{
        text-align: center;
    }
    
    .nav-list{
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        display: flex;
        flex-direction: column;
        gap:30px;
        margin-top: -60px;
        text-align: left;
    }

    .menu-container li{
        list-style: none;       
    }

    .menu-container li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    .menu-container button{
        color: rgb(255, 255, 255);
        background-color: transparent;
        border: solid 1px rgb(255, 255, 255); 
        border-radius: 5px;
        padding: 5px 20px;
        margin-bottom: 50px;
        transition: all 200ms ease;
    }
    .menu-container button:hover{
        color: rgb(45, 5, 90);
        background-color:rgb(255, 255, 255);;
        border: solid 1px rgb(45, 5, 90);    
    }


    /* ==============================slideshow========================== */
 .show{
    left: 0%;
    opacity: 1;
    display: flex;
 }

 .hide{
    left: 100%;
    opacity: 0;
    display: none;
 }
    /* ================================slideshow end======================== */
  
    /* ============================HERO================================= */
    .hero{
        display:flex;
        flex-direction: column-reverse;
        background-color:rgb(40,41,62);
        padding-top:200px ;
        padding: 60px 20px;
       }
    
       .main-1{
           width: 100%;
           position: static;
           flex-direction: column;
           align-items: flex-start;
           
       }

       /* .star{
        position: absolute;
        width: 100px;
        left: 200px;
        top: 20px;
        z-index: 0;
       }
     */
       .main-1 p{
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color:#EF6D58;
       }
    
       .main-1 h1{
        color: white;
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 800;
        font-size: 65px;
        text-transform: capitalize;
        z-index: 2;
       }
    
       .main-1 span{
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color:rgba(255, 255, 255, 0.64);
       }
    
       .buttons{
        display: flex;
        flex-direction: row;
       }
       
       .main-1 button{
        padding: 7px 15px;
        background-color: transparent;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 12px;
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        transition: all 200ms linear;
       }
    
       .main-1 button:hover{
        background-color: #EF6D58;
       }
    
    
       .main-2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
       }
       .main-2 img{
        width: 80%;
       }

       .quote{
        width: 100%;
        display: flex;
        padding: 0 10px;
        gap: 10px;
        background-color: rgb(40,41,62);
       }

       .accredit{
        display: flex;
        flex-direction: column;
       }
    
       .accredit span{
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color:rgba(255, 255, 255, 0.64); ;
       }
    
       .accredit p{
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: white;
       }
/* ===============================SPONSORS================================= */
       .sponsors{
        height: 300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(253,240,233);
        border-bottom:solid 1px #391400 ;
    }
 /* ========================================ABOUT================================== */
    .about-us{
        display: grid;
        grid-template-columns:1fr;
        width: 100%;
        background-color: rgb(253,240,233);
     }
     
    .about-1{
        width: 100%;
     }
 
    .about-1 img{
        width: 80%;
     }
 
    .about-2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
 
    .about-2 p{
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #EF6D58;
    }
 
    .about-2 h2{
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 800;
        font-size: 45px;
        line-height: 64px;
        letter-spacing: -1px;    
        color: #391400;
    }
 
    .about-2 h3{
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #391400;
    }
 
    .about-2 span{
        font-style: normal;
        font-family: 'Epilogue';
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: rgba(57, 20, 0, 0.64);
    }
 
    .about-2 button{
         background-color: white;
         border: none;
         font-style: normal;
         font-family: 'Epilogue';
         font-weight: 800;
         color: #391400;
         padding: 10px 20px;
         border-radius: 5px;
         box-shadow: 0 0 2px #391400;      
    }

    
   .stats{
    background-color: rgb(253,240,233);
    display: grid;
    grid-template-columns:1fr;
}

.stat-item{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   border: solid 1px #391400;
   padding: 10px 15px;
}

.stat-item p{
   font-family: 'Epilogue';
   font-style: normal;
   font-weight: 800;
   font-size: 25px;
   line-height: 48px;
   color: #391400;
}

.stat-item span{
   font-family: 'Epilogue';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 32px;
   color: #391400;
}

 /* =====================How we work============================ */
 .how-work{
    display: grid;
    grid-template-columns:1fr;
    background-color: rgb(253,240,233);
}

.work-1{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     gap: 20px;
}

.sub-disc{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;
}

.sub-h3{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #391400;
}

.sub-deet{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
 }

.work-1 button{
    background-color: transparent;
    border: none;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    color: #391400;

}

.work-2{
    display: flex;
    flex-direction: column;
 }

.work-item{
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 10px;
}

.work-item h1{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: -2px;
    color: #391400;
}

.work-item span{
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #391400;
}

/* =================================Vdplay====================== */

.vdplay{
    display: grid;
    grid-template-columns:1fr;
    background-color: rgb(253,240,233);
}

.vdplay-1{
    width: 100%;
}

.vdplay-1 img{
    width: 80%;
}

.vdplay-2{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}


    

}


@media (min-width:1023px){

    /* ====================================================NAVIGATION==================================================== */

    header{
        grid-template-columns: 0.4fr 1fr;
        padding: 10px 90px;
        align-items: center;
    }

    .padder{
        padding: 30px 90px; 
    }
    

    .logo-cont img{
        width:150px;
        height: 40px;
    }
    .logo-cont i{
        display: none;
    }

    .menu-container{
        background-color: transparent;
        position: relative;
        display: flex;
        flex-direction: row;
        left: 0;
        justify-content:space-around;
        height: 20px;
    }

    .menu-container i{
        display: none;
    }

    .logo-2{
        display: none;
    }

    .nav-list{
        margin-top: 0;
        flex-direction: row;
        gap: 40px;
    }

    .menu-container button{
        margin-bottom: 0;
    }

   /* ========================HERO================= */

   .hero{
        flex-direction: row;
        padding: 80px 90px;
   }



   .main-1 h1{
        font-size: 65px;
   }

   .quote{
        padding: 0 90px;
   }

   .sponsors{
       justify-content: space-between;
       height: 100px;
       display: flex;
       flex-direction: row;
       align-items: center;
}

   .about-us{
        grid-template-columns: 1fr 1fr;
   }

   .about-2 h2{
        font-size: 56;
   }

   .stats{
        grid-template-columns: 1fr 1fr 1fr;
   }

   .stat-item p{
        font-size: 40;
   }

   .stat-item span{
        font-size: 20px;
   }

   .how-work{
        grid-template-columns: 1fr 1fr;
   }

   .vdplay{
        display: grid;
        grid-template-columns: 1fr 1fr;
}

}

@media (min-width:1400px){
    header{
        padding: 20px 150px; 
    }

    .padder{
        padding: 30px 150px;
    }

    .hero{
        padding: 80px 150px;
    }

    .quote{
        padding: 0 150px;
    }
}
