@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Caudex&family=Cinzel&family=EB+Garamond&family=Epilogue&family=Kaushan+Script&family=Nanum+Myeongjo&family=Open+Sans:wght@300&family=Outfit:wght@200&family=Paytone+One&family=Poppins:wght@100;300;700&family=Rajdhani:wght@300&family=Secular+One&family=Space+Grotesk&family=Teko:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}
button{
    cursor: pointer;
}

@media (min-width:300px){
    header{
        position: fixed;
        padding: 10px 20px;
        background-color:rgb(40,41,62);
        width: 100%;
        display: grid;
        grid-template-columns:1fr;
        align-items: center;
    } 

    .padder{
        padding: 10px 20px;
    }
    
    .logo-cont{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between ;
    }

    .logo-cont img{
        width:100px;
        height: 40px;
    }

    .hamburger{
        color: white;
       
    }

    .menu-container{
        position: absolute;
        display: none;
        padding: 10px 20px;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        background-color: rgba(40,41,62,0.8);
        backdrop-filter: blur(10px);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transition: all 200ms linear;
        z-index: 10;
    }
    
    .close-btn{
        color: white;
        align-self: flex-end;
        margin-top: 10px;
    }

    .logo-2{
        text-align: center;
    }
    
    .nav-list{
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        display: flex;
        flex-direction: column;
        gap:30px;
        margin-top: -60px;
        text-align: left;
    }

    .menu-container li{
        list-style: none;       
    }

    .menu-container li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    .menu-container button{
        color: rgb(255, 255, 255);
        background-color: transparent;
        border: solid 1px rgb(255, 255, 255); 
        border-radius: 5px;
        padding: 5px 20px;
        margin-bottom: 50px;
        transition: all 200ms ease;
    }
    .menu-container button:hover{
        color: rgb(45, 5, 90);
        background-color:rgb(255, 255, 255);;
        border: solid 1px rgb(45, 5, 90);    
    }


    /* ==============================slideshow========================== */
 .show{
    left: 0%;
    opacity: 1;
    display: flex;
 }

 .hide{
    left: 100%;
    opacity: 0;
    display: none;
 }
    /* ================================slideshow end======================== */
  
    /* ============================HERO================================= */
    .hero{
        display:flex;
        flex-direction: column-reverse;
        background-color:rgb(40,41,62);
        padding-top:200px ;
       }
    
       .main-1{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 3;
       }

       .star{
        position: absolute;
        width: 100px;
        left: 200px;
        top: 20px;
        z-index: 0;
       }
    
       .main-1 p{
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color:#EF6D58;
       }
    
       .main-1 h1{
        color: white;
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 800;
        font-size: 65px;
        text-transform: capitalize;
        z-index: 2;
       }
    
       .main-1 span{
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color:rgba(255, 255, 255, 0.64);
       }
    
       .buttons{
        display: flex;
        flex-direction: row;
       }
       
       .main-1 button{
        padding: 7px 15px;
        background-color: transparent;
        color: white;
        border: none;
        font-size: 16px;
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 400;
        transition: all 200ms linear;
       }
    
       .main-1 button:hover{
        background-color: #EF6D58;
       }
    
    
       .main-2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
       }
       .main-2 img{
        width: 80%;
       }
    

}


@media (min-width:1023px){

    /* ====================================================NAVIGATION==================================================== */

    header{
        grid-template-columns: 0.4fr 1fr;
        padding: 10px 90px;
        align-items: center;
    }

    .padder{
        padding: 80px 90px; 
    }

    .logo-cont img{
        width:150px;
        height: 40px;
    }
    .logo-cont i{
        display: none;
    }

    .menu-container{
        background-color: transparent;
        position: relative;
        display: flex;
        flex-direction: row;
        left: 0;
        justify-content:space-around;
        height: 50px;
    }

    .menu-container i{
        display: none;
    }

    .logo-2{
        display: none;
    }

    .nav-list{
        margin-top: 0;
        flex-direction: row;
        gap: 40px;
    }

    .menu-container button{
        margin-bottom: 0;
    }

   /* ========================HERO================= */

   .hero{
    flex-direction: row;
   }



   .main-1 h1{
    font-size: 72px;
   }

}

@media (min-width:1400px){
    header{
        padding: 20px 150px; 
    }

    .padder{
        padding: 80px 150px;
    }
}
